* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #05010a;
  color: #eae6ff;
  line-height: 1.6;
}

/* HEADER */

.header {
  text-align: center;
  padding: 40px 20px;
  background: radial-gradient(circle, #2b0a55, #05010a);
  animation: fadeDown 1s ease;
}

.header h1 {
  font-size: 2.5rem;
  color: #c77dff;
}

.header nav {
  margin-top: 15px;
}

.header a {
  color: #aaa;
  margin: 0 12px;
  text-decoration: none;
  transition: 0.3s;
}

.header a:hover {
  color: #c77dff;
}

/* HERO */

.hero {
  text-align: center;
  padding: 80px 20px;
  animation: fadeUp 1.2s ease;
}

.hero h2 {
  font-size: 2rem;
  color: #fff;
}

/* SECTIONS */

section {
  padding: 70px 10%;
}

section h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #c77dff;
}

/* SKILLS */

.skill-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 25px;
}

.skill-card {
  background: #12001f;
  padding: 30px;
  text-align: center;
  border-radius: 12px;
  transition: 0.4s;
  cursor: pointer;
}

.skill-card i {
  font-size: 2.5rem;
  color: #c77dff;
  margin-bottom: 10px;
}

.skill-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 0 20px #8b5cf6;
}

/* PROJECTS */

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.project-card {
  background: linear-gradient(135deg, #12001f, #1f0038);
  padding: 25px;
  border-radius: 15px;
  transition: 0.4s;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px #7c3aed;
}

/* CONTACT */

.contact form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact input,
.contact textarea {
  padding: 12px;
  background: #12001f;
  border: none;
  color: white;
  border-radius: 6px;
}

.contact button {
  background: linear-gradient(135deg, #7c3aed, #c77dff);
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

.contact button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #c77dff;
}

/* FOOTER */

footer {
  text-align: center;
  padding: 25px;
  color: #777;
}

/* ANIMATIONS */

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
